@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 400;
  src: local('Exo 2'), local('Exo2-Regular'), url(../Fonts/Exo_2/KzoFUeaQw_faskDsymvVJqCWcynf_cDxXwCLxiixG1c.woff) format('woff');
}
@font-face {
  font-family: 'Exo 2';
  font-style: normal;
  font-weight: 600;
  src: local('Exo 2 Semi Bold'), local('Exo2-SemiBold'), url(../Fonts/Exo_2/L7cKReMyy06lvTzTWfUEtXYhjbSpvc47ee6xR_80Hnw.woff) format('woff');
}


:root {
	--headerfont: 'Exo 2', monospace;
	--textfont: 'Exo 2', monospace;
	--headerheight: 52px;
	--footerheight: 50px;
	--barcolor: rgba(0,36,46, 0.7);
	--rigminheight: 400px;
	--rigwizardcolor: rgba(22, 104, 159, 0.2);
	--rigwizardcolorcontent: rgba(4, 21, 32, 0.8);
	--rigwizardcolordark: rgba(4, 21, 32, 0.95);
	--rigwizardheaderheight: 50px;
	--rigwizardhovercolor: #f0f0f0;
	--holobordercolor: rgba(8, 145, 197, 0.75);
	--headblue: #3fc9e1;
	--textblue: rgb(8, 145, 197);
	--textbluefaded: rgba(8, 145, 197, 0.6);
	--linkblue: #337ab7;
	--textyellow: #e58605;
	--linkyellow: #e58605;
	--linkyellowfaded: rgba(229, 134, 5, 0.6);
	--linkyellowveryfaded: rgba(229, 134, 5, 0.2);
	--linkyellowhover: #da9e00;
	--textfaded: #4d8699;
	--bgyellow: rgba(229, 134, 5, 0.6);
	--wizardwidth: 115px;
	--wizardheight: 70px;
}
html, body {
	font-family: var(--textfont);
	background: black;
	overflow: hidden;
}
a { color: var(--linkyellow); text-decoration: none; }
a:hover, a:active, a:focus { text-decoration: none; }

button { border: 0; background: var(--rigwizardcolor); color: var(--textyellow); }

::-webkit-input-placeholder {
	color: var(--textfaded);
}

:-moz-placeholder { /* Firefox 18- */
	color: var(--textfaded);
}

::-moz-placeholder {  /* Firefox 19+ */
	color: var(--textfaded);
}
.holoborder:before, .holoborder:after, .holoborderextension:before, .holoborderextension:after {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.holoborder::before {
	content: ""; display: block; position: absolute; border-top: 1px solid var(--holobordercolor); border-bottom: 1px solid var(--holobordercolor);
	left: 5%;
	top: 5%;
	bottom: 5%;
	width: 10%;
} .holoborder:hover:before { left: -5%; top: -5%; bottom: -5%; }

.holoborderextension::before {
	content: ""; display: block; position: absolute; border-top: 1px solid var(--holobordercolor); border-bottom: 1px solid var(--holobordercolor);
	right: 5%;
	top: 5%;
	bottom: 5%;
	width: 10%;
} .holoborder:hover .holoborderextension:before { right: -5%; top: -5%; bottom: -5%; }

.holoborder::after {
	content: ""; display: block; position: absolute; border-left: 1px solid var(--holobordercolor); border-right: 1px solid var(--holobordercolor);
	left: 5%;
	top: 5%;
	right: 5%;
	height: 10%;
} .holoborder:hover:after { left: -5%; top: -5%; right: -5%; }

.holoborderextension::after {
	content: ""; display: block; position: absolute; border-left: 1px solid var(--holobordercolor); border-right: 1px solid var(--holobordercolor);
	left: 5%;
	right: 5%;
	bottom: 5%;
	height: 10%;
} .holoborder:hover .holoborderextension:after { right: -5%; left: -5%; bottom: -5%; }

#login {
	background-color: var(--rigwizardcolor);
	position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	color: var(--linkblue);
}
#login a {
  text-decoration: underline;
  cursor: pointer;
}
#login .logo {
	font-size: 28px;
	padding: 5px 0 0 0;
	border: none;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	top: -100px;
	text-transform: uppercase;
}
#login .logo span {
  font-size: 14px;
  display: block;
}
#login .joinLink {
  position: absolute;
  margin: 0 auto;
  bottom: -80px;
  left: 0;
  width: 100%;
  padding: 0;
}
#login form {
	padding: 20px 20px 40px 20px;
}
#login input {
	background-color: var(--rigwizardcolor);
	border: 0;
	margin-bottom: 5px;
	color: var(--textyellow);
}
#login button {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: var(--rigwizardcolor);
	border: 0;
	font-size: 22px;
	font-weight: 400;
	padding: 5px 10px 5px 10px;
	position: absolute;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	margin: 0 auto;
	bottom: -20px;
	color: var(--textblue);
}
#login button:hover {
  color: var(--textyellow);
}
#login .forgotten-password-link {
  float: right;
  font-size: 14px;
  text-decoration: none;
  color: var(--textblue);
}
#login .forgotten-password-link:hover {
  cursor: pointer !important;
  color: var(--linkyellow);
}

#rigNotification {
  background: var(--rigwizardcolorcontent);
  max-height: 0px;
  width: 0px;
  opacity: 0;
  border: 1px solid var(--rigwizardcolor);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: var(--textblue);
	text-align: center;
	padding: 20px;
	z-index: 3;
	top: 100%;
}
#rigNotification.visible {
  opacity: 1;
  max-height: 250px;
  width: 400px;
  text-align: center;
	top: 50%;
}
#rigNotification p {
  font-size: 14px;
  padding-bottom: 0;
  margin-bottom: 0;
  padding-top: 5px;
}
#rigNotification p:first-of-type {
  padding-top: 0;
}
#rigNotification a, #rigNotification button {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  padding: 5px 10px 5px 10px;
  background: var(--rigwizardcolor);
}
#rigNotification a:hover {
  color: white;
}

#latencyCheck {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: center;
	color: var(--textbluefaded);
	display: none;
	opacity: 0;
	z-index: 1;
}
#rigLocation {
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: center;
	width: 200px;
	color: var(--textbluefaded);
	opacity: 0;
	display: none;
	font-size: 12px;
	padding-top: 20px;
	z-index: 1;
}
#rigLocation span {
	color: var(--textfaded);
}
#rigLocation div {
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  height: auto;
  max-height: 0;
  overflow: hidden;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	color: var(--textblue);
	font-size: 11px;
	background: var(--rigwizardcolordark);
	padding: 10px;
}
#rigLocation:hover div {
  opacity: 1;
  max-height: 100px;
}
#rigLocation div strong {
  color: var(--textyellow);
  font-weight: 400;
}


#rigStatus {
  width: 400px;
  margin-top: 30px;
  text-align: center;
  color: var(--textfaded);
}
#rigStatus .extra {
  position: absolute;
  width: 400px;
  margin-top: 10px;
}
#rigProgress {
  margin-top: 70px;
}
#rigProgress #currentLoad {
  color: var(--textblue);
}
#rigProgress #endLoad {
  color: var(--textblue);
}

#notificationMessage {
  background-color: var(--rigwizardcolor);
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 5px;
  z-index: 3;
  bottom: 0;
}
#backgroundLoading {
  display: none;
  opacity: 0;
  text-align: center;
  position: absolute;
  width: 100%;
  padding: 5px;
  z-index: 3;
  left: 0;
  bottom: 0;
  font-size: 11px;
  color: var(--textblue);
}

#galaxybg {
	position: absolute;
	overflow: hidden;
	width: 150%;
	height: 150%;
	top: -50%;
	left: -50%;
	z-index: -1;
}
#galaxybg:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: -2;
	background: url("../images/galaxy-bg.jpg") center center repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-animation: zoomin 10s 1;
	animation-fill-mode: forwards;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}
@-webkit-keyframes zoomin {
  0% {
    -webkit-transform: scale(1) rotate(0deg);
    -moz-transform: scale(1 rotate(0deg));
    -ms-transform: scale(1) rotate(0deg);
    -o-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1.2) rotate(5deg);
    -moz-transform: scale(1.2) rotate(5deg);
    -ms-transform: scale(1.2) rotate(5deg);
    -o-transform: scale(1.2) rotate(5deg);
    transform: scale(1.2) rotate(5deg);
  }
}

nav {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	z-index: 3;
	border-radius: 0 !important;
	background-color: var(--barcolor) !important;
	height: var(--headerheight);
	text-align: center;
	border-bottom: 1px solid var(--rigwizardcolor) !important;
}
footer ul {
  position: absolute;
	bottom: 0;
}
nav ul {
  position: absolute;
	top: 0;
}
nav ul.center, footer ul.center {
	position: absolute;
	left: 50%;
	-moz-transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
nav ul.right, footer ul.right { right: 0; }
nav ul.left, footer ul.left { left: 0; width: 400px; }
nav ul li, footer ul li {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	text-transform: uppercase;
	font-size: 11px;
	color: var(--linkblue);
	line-height: var(--headerheight);
	display: inline-block;
}
nav ul li { border-bottom: 1px solid var(--linkyellowveryfaded); }
footer ul li { border-top: 1px solid var(--linkyellowveryfaded); }
nav ul li a, footer ul li a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: var(--linkblue);
	display: inline-block;
	padding: 0 10px 0 10px;
	height: var(--headerheight);
}
nav ul li:hover, footer ul li:hover {
	color: var(--linkblue);
}
nav ul li:hover a, nav ul li a.active { border-bottom: 1px solid var(--linkyellow); }
footer ul li:hover a, footer ul li a.active { border-top: 1px solid var(--linkyellow); }
nav ul li:hover>a, nav ul li a.active { color: var(--textblue) !important; }
footer ul li:hover>a {
  color: white !important;
	background-color: var(--linkyellowfaded) !important;
}
nav ul li.logo {
	padding: 2px 0 0 0;
	border: none;
}
nav ul li.logo:hover {
	text-decoration: none;
	border: none;
}

footer {
	-webkit-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-ms-animation-delay: 0.5s;
	animation-delay: 0.5s;
	position: absolute;
	left: 0; bottom: 0;
	z-index: 3;
	border-radius: 0 !important;
	background-color: var(--barcolor);
	height: var(--footerheight);
	border-top: 1px solid var(--rigwizardcolor);
	width: 100%;
}
.absolutecenter {
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


#community {
  position: absolute;
	z-index: 2;
  right: 0;
  top: 150px;
  background: var(--rigwizardcolor);
  width: 200px;
  max-width: 200px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: scale(0.8) translate(20%, 0px);
	opacity: 0.3;
	color: #ffffff;
	font-size: 11px;
	padding: 0;
  border-left: 1px solid var(--holobordercolor);
  border-top: 1px solid var(--holobordercolor);
  border-bottom: 1px solid var(--holobordercolor);
}
#community:hover {
	transform: scale(1) translate(0);
	top: 90px;
}
#community .content, #community .header, #community .footer {
  display: block;
  width: 100%;
}
#community ul.content {
	overflow: hidden;
	margin: 0;
	padding: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	transform: scale(1);
	height: auto;
	max-height: 146px;
}
#community:hover ul.content {
	-webkit-transition: all 0.3s ease-in-out 0.3s;
	-moz-transition: all 0.3s ease-in-out 0.3s;
	-o-transition: all 0.3s ease-in-out 0.3s;
	-ms-transition: all 0.3s ease-in-out 0.3s;
	transition: all 0.3s ease-in-out 0.3s;
	transform: scale(1);
	max-height: 240px;
}
#community ul.content li {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  list-style: none;
  padding: 0; margin: 0;
  max-height: 25px;
	transform: scale(0.8);
}
#community:hover ul.content li {
	-webkit-transition: all 0.3s ease-in-out 0.6s;
	-moz-transition: all 0.3s ease-in-out 0.6s;
	-o-transition: all 0.3s ease-in-out 0.6s;
	-ms-transition: all 0.3s ease-in-out 0.6s;
	transition: all 0.3s ease-in-out 0.6s;
	transform: scale(1);
}
#community ul.content li.loading {
  max-height: 0;
}
#community ul.content li a {
  display: block;
  line-height: 20px; max-height: 20px;
  overflow: hidden;
  padding: 0 0 0 10px;
  border-bottom: 1px solid var(--rigwizardcolor);
  color: var(--linkblue);
}
#community ul.content li a .fa {
  margin-right: 5px;
}
#community ul.content li:last-of-type a {
  border: 0;
}
#community ul.content li a:hover {
  background: var(--rigwizardcolor);
  color: var(--linkyellow);
}

#community .footer, #community .header {
  opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	left: 0;
	position: absolute;
  height: 20px;
}
#community .footer { left: 100%; }
#community:hover .header {
	-webkit-transition: all 0.3s ease-in-out 0.3s;
	-moz-transition: all 0.3s ease-in-out 0.3s;
	-o-transition: all 0.3s ease-in-out 0.3s;
	-ms-transition: all 0.3s ease-in-out 0.3s;
	transition: all 0.3s ease-in-out 0.3s;
}
#community:hover .footer {
	-webkit-transition: all 0.3s ease-in-out 0.5s;
	-moz-transition: all 0.3s ease-in-out 0.5s;
	-o-transition: all 0.3s ease-in-out 0.5s;
	-ms-transition: all 0.3s ease-in-out 0.5s;
	transition: all 0.3s ease-in-out 0.5s;
}
#community:hover .footer, #community:hover .header {
  opacity: 0;
	position: absolute;
  height: 20px;
  left: 0;
}
#community .footer {
  bottom: -21px;
}
#community .footer a:last-of-type {
  float: right;
}
#community .footer a:active, #community .header a:active {
}
#community .footer a {
  display: inline-block;
  line-height: 19px;
  width: 45%;
  text-align: center;
}
#community .footer a:hover, #community .header a:hover, #community .footer a:active, #community .header a:active, #community .footer a:visited, #community .header a:visited, #community .footer a:focus, #community .header a:focus {
  color: var(--linkyellow);
}
#community .footer a:hover, #community .header a:hover {
  font-weight: bold;
}

#community .header {
  top: 0;
}
#community .header .fa {
  float: right;
  margin-right: 10px;
  cursor: pointer;
}

#community.loaded {
  opacity: 0.6;
}
#community.loaded:hover {
  width: 250px;
  max-width: 250px;
  opacity: 1;
  background: var(--rigwizardcolordark);
}
#community.loaded:hover .content {
}
#community.loaded:hover .header {
  top: -20px;
  opacity: 1;
}
#community.loaded:hover .footer {
  bottom: -20px;
  opacity: 1;
}


ul#controls {
  position: absolute;
  left: 20px;
  top: 150px;
  margin: 0;
  padding: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	transform: scale(1);
	opacity: 1;
}
ul#controls.hide {
	transform: scale(0);
	opacity: 0;
}
ul#controls li {
  position: relative;
  list-style: none;
  background: var(--rigwizardcolor);
  padding: 5px 10px 5px 10px;
  font-weight: 400;
  font-size: 11px;
  min-height: 10px;
  max-height: 50px;
  color: var(--textblue);
  display: block;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	transform: scale(0.8);
}
ul#controls li:hover {
	transform: scale(1);
}
ul#controls li.disabled, ul#controls li.disabled:hover {
  transform: scale(0.8);
}
ul#controls li.hide, ul#controls li.hide:hover {
  transform: scale(0);
  min-height: 0;
  max-height: 0;
}
  #quitCurrentApp {
    display: none;
  }









#powerbutton {
  line-height: 40px;
  display: none;
  z-index: 2;
}
#powerbutton.off {
  display: block;
  top: auto;
  bottom: 10px;
}
#powerbutton.on {
  margin-top: -20px;
  display: block;
}
#rigLoading {
  display: none;
}
#gameGrid {
  position: absolute;
  top: 50%;
  width: 100%;
  left: 0;
  margin: 0;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: none;
}
#gameGrid.visible {
  display: flex;
}

#gameGrid .game-title {
  color: var(--textblue);
  text-align: center;
  display: block;
  font-weight: 600;
  position: absolute;
  left: 0; top: calc(100%-10px);
  width: 100%;
}
#gameGrid .box-art {
  opacity: 1;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#gameGrid.loading .box-art {
  opacity: 0.4;
}

#listener {
  overflow: hidden;
  margin-top: 0px;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}









.rigDialog {
  background: var(--rigwizardcolordark);
  color: var(--textblue);
  width: 400px;
  border: 1px solid var(--rigwizardcolor);
}
.rigDialog .rigDialogActions {
  text-align: center;
}
.rigDialog .rigDialogActions button {
  padding: 5px 20px 5px 20px;
  margin: 0 5px 0 5px;
  color: var(--textyellow);
  background: var(--rigwizardcolor);
  position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	transform: scale(1);
}
.rigDialog .rigDialogActions button:hover {
  background: var(--rigwizardcolorcontent);
  color: white;
	transform: scale(1.2);
}














#loading {
  color: var(--textyellow);
}
.loader {
  height: 4px;
  width: 40%;
  position: fixed;
  overflow: hidden;
  background-color: var(--rigwizardcolor);
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.loader:before{
  display: block;
  position: absolute;
  content: "";
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: var(--textblue);
  animation: loading 2s linear infinite;
}

@keyframes loading {
  from {left: -200px; width: 30%;}
  50% {width: 30%;}
  70% {width: 70%;}
  80% { left: 50%;}
  95% {left: 120%;}
  to {left: 100%;}
}

#naclSpinner {
  display: none;
  z-index: 2;
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  text-align: center;
}
#loadingSpinner {
  display: none;
  z-index: 1;
  position: fixed;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  color: white;
  text-align: center;
}


.fullscreen {
  height: 100vh !important;
  overflow: none !important;
  margin: auto !important;
  padding: 0 !important;
  width 100%;
  border: none !important;
}
.box-art {
  position: relative;
  margin: 0 auto;
  background-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: scale(0);
	opacity: 0;
}
.box-art.loaded {
  position: relative;
  background-color: transparent;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: scale(0.8);
	opacity: 0.8;
}
.box-art > img {
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.34);
}
#gameGrid:not(.loading) .box-art:hover {
	transform: scale(1);
	opacity: 1;
}
.box-art:hover img {
  
}
.box-art > img.current-game {
  /*border: 3px solid var(--textyellow);*/
}


#installInstructions {
  position: absolute;
  color: var(--textblue);
  opacity: 0;
  font-size: 12px;
  top: 70px;
  width: 300px;
  left: 50%;
  margin-left: -150px;
  text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: scale(0.0);
}
#gameGrid:hover + #installInstructions {
  opacity: 0.8;
	transform: scale(1);
}

.overlay {
  position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: scale(0.0);
	opacity: 0;
  background: var(--rigwizardcolorcontent);
  z-index: 10;
}
.overlay.visible {
	transform: scale(1);
	opacity: 1;
}

#overlayControls {
  left: 0;
  bottom: 0;
  width: 250px;
  border-top: 1px solid var(--holobordercolor);
  border-right: 1px solid var(--holobordercolor);
  padding-top: 10px;
  padding-bottom: 10px;
}

#shortcuts {
  right: 0;
  bottom: 0;
  width: 250px;
  border-top: 1px solid var(--holobordercolor);
  border-left: 1px solid var(--holobordercolor);
  padding-top: 10px;
  padding-bottom: 10px;
}
#shortcuts h4 {
  text-align: center;
  color: white;
  font-weight: 400;
  text-transform: uppercase;
}
#shortcuts ul {
  margin: 0;
  padding: 0;
}
#shortcuts ul li {
  list-style: none;
  color: var(--textyellow);
  font-size: 14;
  padding: 5px 15px 5px 15px;
}
#shortcuts ul li span {
  float: right;
  font-size: 12px;
  display: inline-block;
  padding-top: 4px;
  color: var(--textblue);
}








#qualitySetting {
  position: absolute;
  left: 20px;
  margin-top: 0;
  margin-left: 0;
  bottom: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	transform: scale(1);
}

  #qualitySetting.loading {
    opacity: 0.4;
    transform: scale(0.8);
  }

  #qualitySetting > div { padding: 0; }

  #qualityLoader {
    display: none;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    margin-top: 4px;
    color: var(--linkblue);
  }

	#qualitySetting .qualityOption {
  	display: inline-block;
		position: relative;
    width: 60px;
		height: 100%;
    text-align: center;
  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	-ms-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
  	opacity: 0.7;
  	color: #ffffff;
  	background-color: var(--rigwizardcolor);
  	border: 1px solid var(--rigwizardcolor);
  	padding: 3px 0 3px 0;
	}

	#qualitySetting .qualityOption:hover {
		opacity: 1;
		cursor: pointer;
	}
  #qualitySetting.loading .qualityOption:hover {
		cursor: default;
  }
	#qualitySetting .qualityOption.selected {
		opacity: 1;
  	border: 1px solid var(--linkyellowfaded);
	}

		#qualitySetting .qualityOption span.title {
			display: block;
      font-size: 9px;
      font-weight: 400;
      text-transform: uppercase;
			color: var(--textyellow);
		}
		#qualitySetting .qualityOption span.description {
  		font-size: 8px;
  		line-height: 1;
			color: var(--textfaded);
			position: absolute;
			top: calc(100% + 5px);
			left: 0;
			width: 100%;
			text-align: center;
    }


		#qualitySetting .qualityOption input {
			position: absolute;
			left: 0;
			top: 0;
			visibility: hidden;
		}


.rigModal {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  width: 200px;
	border: 1px solid var(--rigwizardcolor);
	position: absolute;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 5;
	min-height: 50px;
}
.rigModal.loaded {
  width: 500px;
}
.rigModal .close {
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 18px;
  color: var(--textblue);
  z-index: 1;
}
.rigModal .rigModalLoader {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  position: absolute;
  width: 100%;
  line-height: 50px;
  text-align: center;
  color: var(--textblue);
  top: 0;
}
.rigModal.loaded .rigModalLoader {
  opacity: 0;
}
.rigModal .rigModalContent {
  opacity: 0;
	max-height: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	height: auto;
	overflow: hidden;
}
.rigModal.loaded .rigModalContent {
	-webkit-transition: all 0.3s 0.3s ease-in-out;
	-moz-transition: all 0.3s 0.3s ease-in-out;
	-o-transition: all 0.3s 0.3s ease-in-out;
	-ms-transition: all 0.3s 0.3s ease-in-out;
	transition: all 0.3s 0.3s ease-in-out;
  opacity: 1;
	max-height: 500px;
}


#selectPlan {
  background: var(--rigwizardcolordark);
  display: none;
  opacity: 0;
}
#selectPlan .rigModalContent {
  padding: 0 20px 0 20px;
}
#selectPlan .headerText {
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: var(--textblue);
  text-align: center;
}
#selectPlan .extraText {
  font-weight: 400;
  font-size: 10px;
  color: var(--textfaded);
  padding: 20px;
}
#selectPlan .price {
  font-size: 11px;
  font-weight: 400;
  display: block;
  margin-top: 10px;
  color: var(--textblue);
}
#selectPlan .price span {
  color: var(--textyellow);
  font-weight: 600;
  font-size: 12px;
}
#selectPlan .title {
  font-size: 18px;
  line-height: 1;
	display: block;
	font-weight: 400;
	text-transform: uppercase;
}
#selectPlan .title small {
	font-size: 10px;
	color: var(--textfaded);
}
#selectPlan .row {
  margin-left: 0;
  margin-right: 0;
}
#selectPlan .description {
	font-size: 10px;
  line-height: 1.2;
  color: var(--textfaded);
  margin: 10px 0 0 0;
  padding: 0;
  background: var(--rigwizardcolor);
}
#selectPlan .description div {
  padding: 4px 0 4px 0;
}
#selectPlan .description .col-sm-12 {
  font-weight: 600;
  border-bottom: 1px solid var(--rigwizardcolor);
}
#selectPlan .description .col-sm-8 {
  font-weight: 600;
  border-left: 1px solid var(--rigwizardcolor);
}

#selectPlan .dialog {
  position: absolute;
  top: 30%;
  left: 0;
  background: var(--rigwizardcolordark);
  padding: 10px;
  font-size: 12px;
  opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	width: 120%;
	left: -10%;
	border: 1px solid var(--textyellow);
}
#selectPlan .dialog .confirm, #selectPlan .dialog .cancel {
  margin-top: 5px;
  text-transform: uppercase;
}
#selectPlan .dialog .confirm {
  font-weight: 600;
}
#selectPlan .dialog .cancel {
  margin-left: 5px;
  color: var(--textblue);
  font-size: 10px;
  
}
#selectPlan .dialog .confirm:hover, #selectPlan .dialog .cancel:hover {
  background: var(--linkblue);
  cursor: pointer;
  color: white;
}
#selectPlan .dialog.loaded {
  opacity: 1;
  top: 55%;
	width: 120%;
	left: -10%;
}

div.product-chooser { margin-bottom: 0; }

div.product-chooser > div { padding: 0; }

	div.product-chooser div.product-chooser-item {
		cursor: pointer;
		position: relative;
  	-webkit-transition: all 0.3s ease-in-out;
  	-moz-transition: all 0.3s ease-in-out;
  	-o-transition: all 0.3s ease-in-out;
  	-ms-transition: all 0.3s ease-in-out;
  	transition: all 0.3s ease-in-out;
  	transform: scale(0.9);
  	opacity: 0.7;
  	color: #ffffff;
  	background-color: var(--rigwizardcolor);
  	border: 1px solid var(--rigwizardcolor);
  	padding: 5px 0 0 0;
  	text-align: center;
	}

	div.product-chooser div.product-chooser-item:hover {
		opacity: 1;
    transform: scale(1);
	}
	div.product-chooser div.product-chooser-item.selected {
		opacity: 1;
    transform: scale(1);
  	/*border: 1px solid var(--textyellow);*/
  	cursor: default;
  	z-index: 1;
	}
	div.product-chooser div.product-chooser-item.current {
  	position: relative;
  	top: 50%;
  	-moz-transform: scale(0.9) translateY(-50%);
  	-webkit-transform: scale(0.9) translateY(-50%);
  	transform: scale(0.9) translateY(-50%);
  	padding: 20px;
  }
	div.product-chooser div.product-chooser-item.current:hover {
  	-moz-transform: scale(0.9) translateY(-50%);
  	-webkit-transform: scale(0.9) translateY(-50%);
  	transform: scale(0.9) translateY(-50%);
  }

		div.product-chooser div.product-chooser-item input {
			position: absolute;
			left: 0;
			top: 0;
			visibility: hidden;
		}




.loginExternalLink.loading {
  color: var(--textfaded);
}

#settingsButtons {
  width: 400px;
}
#settingsButtons .row {
  height: 75px;
}
#settingsButtons a {
  text-align: center;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
  transform: scale(0.8);
  display: block;
  line-height: 2;
  padding: 10px 0 20px 0;
  background: var(--rigwizardcolor);
}
#settingsButtons a i {
  display: block;
}
#settingsButtons a:hover {
  transform: scale(1);
  color: white;
}



#rigLoadData {
  position: absolute;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
  left: 20px;
  width: calc(63%);
  max-height: 200px;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	opacity: 0;
}
#rigLoadData.visible {
  opacity: 1;
}

#rigLoadData .gameFiles {
  position: relative;
  left: 0;
  width: 45%;
  text-align: left;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
  opacity: 0;
}
#rigLoadData .gameFiles.visible {
  opacity: 1;
}
#rigLoadData .gameFiles span {
  position: absolute;
  right: 0;
  font-size: 10px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

  max-height: 0;
  color: var(--textblue);
  transform: scale(0);
  opacity: 0;
  display: block;
  padding-right: 70px;
  text-align: right;
  white-space: nowrap;
}
#rigLoadData .gameFiles span.loaded i {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  font-style: normal;
  font-size: 8px;
}
#rigLoadData .gameFiles span.loaded i b {
  font-size: 10px;
}
#rigLoadData .gameFiles span.loaded {
  transform: scale(1);
  opacity: 1;
  max-height: 15px;
  overflow: hidden;
}
#rigLoadData .gameFiles span.loaded:first-of-type {
  text-transform: uppercase;
  font-size: 14px;
  max-height: 50px;
  color: var(--textyellow);
}
#rigLoadData .gameFiles span.loaded:first-of-type i, #rigLoadData .gameFiles span.loaded:first-of-type i b {
  font-size: 14px;
}
#rigLoadData .statusMessages {
  position: relative;
  left: 50%;
  width: 50%;
  text-align: center;
}
#rigLoadData .statusMessages span {
  font-size: 14px;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

  max-height: 0;
  color: var(--textblue);
  transform: scale(0);
  opacity: 0;
  display: block;
  clear: both;
  text-align: center;
}
#rigLoadData .statusMessages span i {
  float: left;
  margin-top: 4px;
}
#rigLoadData .statusMessages span.loaded {
  transform: scale(0.8);
  max-height: 40px;
}
#rigLoadData .statusMessages span.loaded.first {
  transform: scale(1);
}